@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.List {
  background: c.$white;
  display: flex;
  flex-direction: column;
  padding: 25px 75px;
  gap: 20px;
}

.Empty {
  align-self: center;
  width: 75vw;
  background: c.$white;
  border: 5px solid c.$black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 125px 0;
}

.Title {
  font-size: 25px;
  color: c.$black;
  font-weight: bold;
}

.Filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.Filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & label {
    font-size: 20px;
    color: c.$black;
  }

  & select {
    font-size: 20px;
    border: 2px solid c.$black;
    background: c.$white;
    color: c.$black;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}
